.button {
  width: 200px;
  height: 50px;
  background-color: #2f80ed;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  color: white;
}

.button:hover {
  opacity: 80%;
  transition: 0.25s ease-in-out;
}

.button_disabled {
  background-color: rgb(207, 207, 207);
  cursor: default;
}

@media (min-width: 780px) {
  .button {
    width: 300px;
    height: 60px;
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .button {
    width: 400px;
    height: 65px;
    font-size: 26px;
  }
}
